
/*Desciribing size for the container to fit the cards*/
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Poppins&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    font-family: "Poppins", sans-serif;
    
}
.logo{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.logo img{   
    height: 100px;
    width: 100px;
    padding: 10px 10px ;
    object-fit: cover;
}
h1{ 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #961818;
    text-shadow: #95b310;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

input, button {
    padding: 20px;
    margin: 20px;
}

.recipe {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    text-align: left;
}

.recipe img {
    width: 100%;
}
